@if (isLoader2 == true) {
    <div class="col-12 text-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      </div>
    } @else {
<app-alert [alertType]="'Success'" [message]="'Hi from Client Project Page'"></app-alert>

<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-success">
                Project List - {{firstName()}}
                <!-- <button class="btn btn-danger" (click)="changeFName()">Change F Name</button> -->
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>Sr.No</th>
                        <th>Project Name</th>
                        <th>Lead By</th>
                        <th>Client</th>
                        <th>Start Date</th>
                        <th>Expected End Date</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                        <!-- @for (item of projectList; track $index) {
                            <tr>
                            <td>{{$index+1}}</td>
                            <td>{{item.projectName}}</td>
                            <td>{{item.empName}}</td>
                            <td>{{item.clientProjectId}}</td>
                            <td>{{item.clientName}}</td>
                            <td>{{item.startDate}}</td>
                            <td>{{item.expectedEndDate}}</td>
                            <td>
                                 <button class="btn btn-primary mx-2 my-2 " (click)="onEdit(item)">Edit</button> 
                                <button class="btn btn-danger mx-2" (click)="onDelete(item.clientProjectId)">Delete</button> 
                            </td>
                        </tr>
                        } -->
                         @for (item of projectList(); track $index) {
                            <tr>
                            <td>{{$index+1}}</td>
                            <td>{{item.projectName}}</td>
                            <td>{{item.empName}}</td>
                            <td>{{item.clientName}}</td>
                            <td>{{item.startDate | date}}</td>
                            <td>{{item.expectedEndDate | date}}</td>
                             <td> 
                                  <button class="btn btn-primary mx-2 my-2 " >Edit</button> 
                                <button class="btn btn-danger mx-2" >Delete</button> 
                                <!-- <button class="btn btn-primary mx-2 my-2 " (click)="onEdit(item)">Edit</button> 
                                <button class="btn btn-danger mx-2" (click)="onDelete(item.clientProjectId)">Delete</button> -->
                            </td>
                         </tr> 
                        } 
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-success">
               New Project
            </div>
            <form [formGroup]="projectForm">
                <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <label for="">Project Name</label>
                        <input type="text" formControlName="projectName" class="form-control">
                        @if (projectForm.touched) {
                            <div class="text-danger">
                            @if (projectForm.controls['projectName'].errors?.['required']) { 
                                <span>This is Required</span>
                            }
                            @if (projectForm.controls['projectName'].errors?.['minlength']) { 
                                <span>Min 4 char required</span>
                            } 
                        </div>
                        }
                        
                    </div>
                    <div class="col-6">
                        <label for="">Start Date</label>
                        <input type="date" formControlName="startDate"   class="form-control" >
                    </div>
                    <div class="col-6">
                        <label for="">Expected End Date</label>
                        <input type="date"  formControlName="expectedEndDate" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">Contact Name</label>
                        <input type="text"   formControlName="contactPerson" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">Contact Mobile</label>
                        <input type="text"   formControlName="contactPersonContactNo" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">Contact Email</label>
                        <input type="text" formControlName="contactPersonEmailId" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">Total Employee Count</label>
                        <input type="text"  formControlName="totalEmpWorking" class="form-control">
                    </div>
                    <div class="col-6">
                        <label for="">Project Costing</label>
                        <input type="text"  formControlName="projectCost" class="form-control">
                    </div>
                    <div class="col-12">
                        <label for="">Project Desc</label>
                        <textarea type="text" formControlName="projectDetails" class="form-control"></textarea>
                    </div>
                <div class="col-6">
                     <label for="">Select Client</label>
                        <select formControlName="clientId" class="form-control">
                            <option >Select Client</option>
                            @for (item of clientList; track $index) {
                                <option [value]="item.clientId"> {{item.contactPersonName}}-{{item.companyName}}</option>
                               }
                        </select>
                    </div>
                    <div class="col-6">
                        <label for="">Lead By</label>
                           <select formControlName="leadByEmpId" class="form-control">
                               <option >Select Employee</option>
                               @for (item of employeeList; track $index) {
                                <option [value]="item.empId"> {{item.empName}} - {{item.empCode}}</option>
                               }
                           </select>
                       </div>
                    </div>
                    <div class="row pt-2">
                        <div class="col-6 text-center">
                            <button class="btn btn-secondary" (click)="onReset()" >Reset</button>
                        </div>
                        <div class="col-6 text-center">
                            <button class="btn btn-success" [disabled]="projectForm.invalid" (click)="onSaveProject()">
                                Save Client
                        </button>
                        </div>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
}