<!-- <p>roles works!</p>
<div class="row">
  <div class="col-3">
    <p>{{ firstName }}</p>
  </div>
    <div class="col-3">
      <p>{{ version }}</p>
    </div>
      <div class="col-3">
        <p>{{currentDate}}</p>
      </div>
      <div class="col-3">
        <p>{{province}}</p>
      </div>
    </div>

<div class="row">
    <div class="col-3">
        <input type="text" [value]="firstName" class="form-control">
    </div>
    <div class="col-3">
        <input type="text" [(ngModel)]="firstName" class="form-control">
    </div>
    <div class="col-3">
        <input [type]="inputType">
    </div>
    <div class="col-3">
        <select [(ngModel)]="province" >
            <option value="SINDH">SI</option>
            <option value="PUNJAB">PY</option>
            <option value="KPK">KPK</option>
            <option value="BA">BA</option>
        </select>
    </div>
    <div class="col-3">
        <button class="btn btn-success" (click)="showWelcomeAlert()">click me!</button>
    </div>
    <div class="col-3">
        <button class="btn btn-success" (click)="showMsg('ahmed')">click me!</button>
    </div>
</div>     -->


<!-- <div class="row">
  <div class="col-4">
    <ul>
      <li *ngFor = "let item of roleList"> {{item.role}} </li>
    </ul>
  </div>
  <div class="col-4">
    <select name="" id="">
      <option *ngFor="let role of roleList" [value]="role.roleId"> {{role.role}} </option>
    </select>
  </div>
  <div class="col-4">
    <button class="btn btn-warning mx-2 my-1" *ngFor="let item of roleList"> {{item.role}} </button>
  </div>
</div> -->
<div class="row">
@if (isLoader2 == true) {
  <div class="col-12 text-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    </div>
  } @else {
  <div class="row">
  <div class="col-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>S.No</th>
          <th>Role Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = 'let item of roleList; let srno = index'>
          <td> {{srno+1}} </td>
          <td> {{item.role}} </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
}
</div>